/* styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  #quiz-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  #submit-btn {
    margin-top: 10px;
  }
  